.App {
    max-width: 800px;
    margin: 30px auto;
}

body {
    background-image: url(zane-lee-uG1RcoffMNc-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: #6DB2CB;
    font-family: "Montserrat", sans-serif;
}



.App footer {
    font-size: 13px;
    margin: 10px 55px;

}